section.galeria {
    margin: 50px 0;
}
.img-galeria {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30vh;
}
.item {
    flex: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: flex 1.0s ease;
    filter: blur(3px);
    border-radius: 3px;
}
.item:hover {
    flex: 6.5;
    filter: blur(0px);
}
.item-1{
    background-image: url("imagens/treinamentos/certificação-01.jpg");
}
.item-2{
    background-image: url("imagens/treinamentos/certificação-02.jpg");
}
.item-3{
    background-image: url("imagens/treinamentos/certificação-03.jpg");
}
.item-4{
    background-image: url("imagens/treinamentos/certificação-04.jpg");
}
.item-5{
    background-image: url("imagens/treinamentos/certificação-05.jpg");
}
.item-6{
    background-image: url("imagens/treinamentos/certificação-06.jpg");
}
.item-7{
    background-image: url("imagens/treinamentos/certificação-07.jpg");
}
.item-8{
    background-image: url("imagens/treinamentos/certificação-08.jpg");
}
.item-9{
    background-image: url("imagens/treinamentos/certificação-09.jpg");
}
.item-10{
    background-image: url("imagens/treinamentos/certificação-10.jpg");
}
.item-11{
    background-image: url("imagens/treinamentos/certificação-11.jpg");
}
.item-12{
    background-image: url("imagens/treinamentos/certificação-12.jpg");
}
.item-13{
    background-image: url("imagens/treinamentos/certificação-13.jpg");
}
.item-14{
    background-image: url("imagens/treinamentos/certificação-14.jpg");
}
.item-15{
    background-image: url("imagens/treinamentos/certificação-15.jpg");
}
.item-16{
    background-image: url("imagens/treinamentos/certificação-16.jpg");
}
.item-17{
    background-image: url("imagens/treinamentos/certificação-17.jpg");
}

@media screen and (max-width: 884px) {
.item:hover {
    flex: 33;
    filter: blur(0px);
}
}
@media screen and (max-width: 450px) {
.item:hover {
    flex: 100;
    filter: blur(0px);
}
}